<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Job Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using JobBoard.Models;

    <h1>Jobicodus Job Board</h1>
    @if (Model.Count == 0)
    {
      <p>There are no items in the list.</p>
    }
    <ul>
      @foreach (Job job in Model)
      {
        <li>
          <ul>
            <li><strong> Title: @job.Title</strong></li>
            <li> Description: @job.Description</li>
            <li> Name: @job.ContactName</li>
            <li> Email: @job.ContactEmail</li>
            <li> Phone Number: @job.ContactPhoneNumber</li>
          </ul>
        </li>
      }
    </ul>
    <a href='/jobs/new'><button class="btn btn-warning">Add a new job</button></a>
    <a href='/'><button class="btn btn-warning">Take Me Home</button></a>
  </body>
</html>